body {
    width: 100%;
    height: 100%;
    grid: auto / 1fr;
}

#timeSelector {
    width: 100%;
    height: 100%;
    grid: auto / 1fr 1fr;
}

#timeSelector>*,
#clocks>* {
    width: 100%;
    height: 100%;
}

#openClocks {
    font-size: calc(var(--base-unit) * 3);
    background-color: var(--element);
    color: var(--text);
}

#clocks {
    display: none;
    grid: auto / 1fr 1fr 1fr;
}

#blackTime {
    font-size: 3rem;
    height: 100%;
    grid-area: 1 / 1 / 3 / 1;
}

#whiteTime {
    font-size: 3rem;
    height: 100%;
    grid-area: 1 / 3 / 3 / 3;
}

#startButton {
    font-size: 3rem;
    background-color: hsl(240, 25%, 50%);
}

#backButton {
    font-size: 3rem;
    color: hsl(0, 25%, 90%);
    background-color: hsl(0, 25%, 50%);
}