* {
    color: hsl(240, 90%, 90%);
}

body {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

label,
button {
    font-weight: bold;
}

h1 {
    font-size: 4rem !important;
}

label,
input,
button {
    font-size: 2rem;
}

label,
input,
h1,
button,
#whiteClock #blackClock {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

div {
    background-color: transparent;
}

#timeSelector {
    display: grid;
    background-color: transparent;
    margin: 0;
    padding: 0;
    grid: auto / auto auto auto auto auto;
}

#clocks {
    flex-flow: row nowrap;
    background-color: transparent;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: none;
}

#blackTime {
    font-size: 10rem;
    color: hsl(240, 90%, 90%);
    background-color: transparent;
    rotate: 45deg;
}

#whiteTime {
    font-size: 10rem;
    color: hsl(240, 10%, 10%);
    background-color: transparent;
    rotate: -45deg;
}

#startButton {
    font-size: 3rem;
    color: hsl(240, 90%, 90%);
    background-color: hsl(240, 50%, 50%);
}

#backButton {
    font-size: 3rem;
    color: hsl(0, 90%, 90%);
    background-color: hsl(0, 50%, 50%);
    font-size: 300%;
}

#buttonWrapper {
    background-color: transparent;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#homepage {
    flex-flow: row wrap;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#whiteWrapper {
    background-color: hsl(240, 90%, 90%);
    margin: 1rem;
    padding: 1rem;
}

#blackWrapper {
    background-color: hsl(240, 10%, 10%) !important;
    margin: 1rem;
    padding: 1rem;
}

.column {
    flex-flow: column wrap;
}